* {
    margin: 0px;
    padding: 0px;
}

main {
    background-image: url(images/banner/banner1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    border: 2px solid red;
}

.navber {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

ul li {
    display: flex;
    margin: 10px;
    color: rgb(255, 0, 0);
}
ul{
    display: flex;
    padding: 10px 10px;
    margin: 10px ;
    text-decoration: none;
}
.menu-list{
    text-decoration: none;

    background-color:rgb(230, 226, 23);
    color: white;
    padding: 5px 5px;
    margin: 10px;
}
ul a{
    text-decoration: none;
    color: brown;
}